@font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway-Black.ttf') format('ttf');
    font-weight: 900
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('../fonts/Raleway-Medium.ttf') format('ttf');
    font-weight: 400
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('ttf');
}

@font-face {
    font-family: 'FjallaOne-Regular';
    src: url('../fonts/FjallaOne-Regular.ttf') format('ttf');
}

:root {
    --sun-size: 250px;
}

/* Responsive Container */
.document-container {
    width: 1200px;
    margin: auto
}

@media only screen and (max-width: 1200px) {
    .document-container {
        width: 960px
    }
}

@media only screen and (max-width: 960px) {
    .document-container {
        width: 768px
    }
}

@media only screen and (max-width: 768px) {
    .document-container {
        width: 550px
    }
}

@media only screen and (max-width: 550px) {
    .document-container {
        width: 380px
    }
}

@media only screen and (max-width: 380px) {
    .document-container {
        width: 320px
    }
}

@media only screen and (max-width: 320px) {
    .document-container {
        width: 300px
    }
}
/* End Responsive Contaienr */

/* Header Section */
    .header-section {
        z-index: -10000;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .hero-background {
        z-index: -1000;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(180deg, #eaa9a9, #FCD8D4);
        position: fixed;
        left: 0;
        top: 0;
    }
    
    .big-cactus-foreground {
        z-index: -2;
        bottom: 0;
        left: 80%;
        width: 152px;
        position: fixed;
        animation-fill-mode: forwards;
        animation: 5s linear infinite animation;
        animation-direction: reverse;
    }

    .cactus-foreground-1 {
        z-index: -3;
        height: 386px;
        width: 400vw;
        background: url("../images/cactus-foreground-1.svg") repeat-x;
        animation: cactus-foreground 20s linear infinite;
        animation-direction: reverse;
        position: fixed;
        bottom: 0;
        left: 0
    }
    .cactus-foreground-2 {
        z-index: -4;
        height: 360px;
        width: 400vw;
        background: url("../images/cactus-foreground-2.svg") repeat-x;
        animation: cactus-foreground 40s linear infinite;
        animation-direction: reverse;
        position: fixed;
        bottom: 0;
        left: 0
    }
    .cactus-foreground-3 {
        z-index: -5;
        height: 370px;
        width: 400vw;
        background: url("../images/cactus-foreground-3.svg") repeat-x;
        animation: cactus-foreground 100s linear infinite;
        animation-direction: reverse;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .rock-formation-background {
        z-index: -6;
        width: 100%;
        height: 650px;
        position: fixed;
        background-image: url("../images/rock-formation-background.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0
    }

    .the-sun {
        z-index: -7;
        width: var(--sun-size);
        height: var(--sun-size);
        position: absolute;
        left: calc(50% - var(--sun-size)/2);
        bottom: calc(45% - var(--sun-size));
        background-image: url("../images/sun.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-text {
        z-index: -7;
        position: absolute;
        width: 500px;
        height: auto;
        left: calc(50% - 500px/2);
        bottom: calc(60% - 500px);
    }

    .hero-text p {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Railway', sans-serif;
        font-size: 50px;
        font-weight: 800;
    }

    .clouds {
        z-index: -8;
        width: 100%;
        height: 305px;
        position: fixed;
        background-image: url("../images/clouds.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
    }

    .background-lines {
        z-index: -8;
        width: 100%;
        height: 685px;
        position: fixed;
        background-image: url("../images/background-lines.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
    }

    @keyframes cactus-foreground {
        0% {
            left: 0;
        }
        100% {
            left: -100%
        }
    }

    @keyframes animation {
        0% {
            left: 100%
        }
        100% {
            left: -10%
        }
    }

/* End Header Section */

/* Navigation Section */
    .navigation-bar {
        z-index: 100;
        width: 100%;
        background-color: transparent;
        position: fixed
    }

    .navigation-content-wrap {
        display: flex;
        width: 100%;
        align-content: center;
    }

    .logo-container {
        order: 1;
        flex: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        max-width: 200px;
        margin-top: 5px;
    }

    .cal-jr-logo {
        width: 200px;
        height: auto;
    }

    .menu-container {
        z-index: 101;
        order: 2;
        flex: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-container nav ol li {
        display: inline-block;
    }

    .menu-container nav ol li a {
        z-index: 200000000000000000;
        font-family: 'Raleway-Medium', sans-serif;
        font-weight: 400;
        font-size: 20px;
        width: 200px;
        margin: 10px;
        text-transform: uppercase;
        text-decoration: none;
    }

/* End Navigation Section */

/* About Section */
    .about-section {
        background: linear-gradient(-35deg, #002366, #0F52BA, #D83A56, #FF616D);
        background-size: 400% 400%;
        animation: about-gradient 15s ease infinite;
        width: 100%;
        height: 100vh;
    }

    @keyframes about-gradient {
        0% {
            background-postion: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%
        }
    }

.footer-content {
    height: 10000px;
    background-color: white
}